.dialog {
  border: 1px solid #ccc;
  width: 400px;
  min-height: 80px;
  padding: 10px;
  display: grid;
  font-family: "Helvetica", arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
}

.title {
  font-weight: bold;
}

.body {
  font-size: 13px;
}

.footer > input {
  background-color: white;
  float: right;
}
